* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", sans-serif;
}

/* NavBar */
/* HEADER */

nav {
  background-color: #000;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  height: 60px;
  top: 0;
  box-shadow: 1px 1px 5px gray;
  width: 100%;
  z-index: 1000;
  /* border-bottom: 1px solid white; */
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  background: linear-gradient(to top, rgb(224, 224, 224) ,white,white);
  z-index: 1;
  height: 70px;
  width: 250px;
  clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
}

.logo-container img {
  height: 55px;
  width: auto;
}

.nav-links {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.nav-links a {
  text-decoration: none;
  height: 100%;
  width: fit-content;
  color: #ffffff;
  display: flex;
  justify-content: center;
  background-color: #000;
  align-items: center;
  width: 100px;
  transition: all 0.3s;
  font-size: 16px;
}

.nav-links a:hover {
  background-color: #c91a17;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger div {
  width: 25px;
  height: 3px;
  background-color: #ffffff;
  margin: 4px 0;
  border-radius: 2px;
}
@media (max-width: 768px) {
  nav {
    padding-right: 20px;
  }
  .nav-links {
    position: absolute;
    top: 60px;
    border-top: 1px solid white;
    left: 0;
    background-color: #000;
    width: 100%;
    flex-direction: column;
    align-items: center;
    /* display: none; */
    height: fit-content;
    /* Animation setup */
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transform: translateY(-10px);
    transition: max-height 0.4s ease, opacity 0.4s ease, transform 0.4s ease;
  }
  .nav-links.active {
    max-height: 300px; /* enough for all links */
    opacity: 1;
    transform: translateY(0);
  }
  .nav-links a {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hamburger {
    display: flex;
  }
}

/* Hero Section */
header{
  height: 500px;
  margin-top: 60px;
  background: url('Images/header-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
header::after{
  content: '';
  height: 500px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0,0.3);
}
#header-second-container{
  height: 90%;
  width: 100%;
  max-width: 1200px;
  display: flex;
  z-index: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#header-second-inner-container{
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-items: center;
}
#header-second-inner-container h1{
  color: #9e0300;
  font-size: 110px;
  font-weight: 900;
  -webkit-text-stroke: 2px #fff;
  text-transform: uppercase;
}
#header-second-inner-container h1 span{
  -webkit-text-stroke: 2px #c91a17;
  color: #c91a17;
}
#header-second-inner-container p {
  font-size: x-large;
  font-weight: 400;
  color: white;
  text-align: center;
  width: 80%;
  animation: slideUp 0.6s ease-out forwards;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

#header-second-inner-container button{
  font-size: large;
  font-weight: 600;
  color: white;
  background-color: #c91a17;
  padding: 10px 20px;
  width: fit-content;
  height: fit-content;
  border: none;
  transition: all 0.3s;
  border-radius: 20px;
  animation: slideUp 0.8s ease-out forwards;
}
#header-second-inner-container button:hover{
  background-color: #9e0300;
}
@media (max-width: 1130px) {
#header-second-inner-container h1{
  font-size: 95px;
}
}
@media (max-width: 991px) {
#header-second-inner-container h1{
  font-size: 100px;
  text-align: center;
}
}
@media (max-width: 768px) {
#header-second-inner-container h1{
  font-size: 90px;
}
#header-second-inner-container p {
  font-size: large;
}
}
@media (max-width: 600px) {
  header{
  height: 250px;
}
header::after{
  height: 250px;
}
#header-second-inner-container h1{
  font-size: 50px;
  line-height: 45px;
}
#header-second-inner-container p {
  font-size: small;
  font-weight: 600;
}
#header-second-inner-container button{
  font-size: medium;
  padding: 5px 10px;
}
}
@keyframes fade {
  0% { opacity: 1; }
  40% { opacity: 0; }
  60% { opacity: 0; }
  100% { opacity: 1; }
}

.fade {
  animation: fade 3s ease-in-out;
}

/* Hero Section */

/* Looking To Section */
#looking-to-main-container{
  height: fit-content;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#looking-to-second-main-container{
  height: fit-content;
  width: 100%;
  padding: 10px 0;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-direction: column;
}
#looking-to-second-main-container h2{
  text-align: center;
  width: 100%;
  color: #000;
}
#looking-to-card-container{
  height: fit-content;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
#looking-box{
  height: 230px;
  width: 230px;
  background: rgb(201, 26, 23,0.1);
  border-radius: 10px;
  border: 1px solid #c91a1780;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  transition: all 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding-left: 10px;
  gap: 10px;
}
#looking-box:hover{
  box-shadow: none;
}
#looking-box img{
  height: 30px;
  width: 30px;
  position: absolute;
  top: 5px;
  left: 10px;
  object-fit: contain;
}
#looking-box h4{
  text-align: left;
  color: #000;
  font-size: 20px;
}
#looking-box p{
  text-align: left;
  color: black;
  font-size: medium;
}
#looking-box a{
  text-align: left;
  color: #9e0300;
  font-weight: 600;
  font-size: large;
}
@media (max-width: 480px) {
  #looking-box{
  height: 150px;
  width: 150px;
  gap: 5px;
}
#looking-box img{
  height: 20px;
  width: 20px;
  top: 2px;
}
#looking-box h4{
  font-size: 15px;
}
#looking-box p{
  font-size: x-small;
}
#looking-box a{
  font-size: small;
}
}

/* Looking To Section */

/* Distribution section */
#distribution-section-main-container{
  height: fit-content;
  width: 100%;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
#distribution-section-second-container{
  height: 100%;
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#distribution-section-left-container{
  height: 500px;
  width: 50%;
  display: flex;
  justify-content: center;
  padding-left: 10px;
  flex-direction: column;
  gap: 20px;
}
#distribution-section-left-container span{
  background-color: #c91a17;
  color: white;
  text-align: left;
  width: fit-content;
  border-radius: 20px;
  padding: 5px 10px;
  font-size: small;
  font-weight: 700;
}
#distribution-section-left-container h2{
  color: white;
  text-align: left;
  width: fit-content;
  font-size: 45px;
  font-weight: 900;
}
#distribution-section-left-container p{
  color: whitesmoke;
  text-align: left;
  width: fit-content;
  font-size: large;
  font-weight: 400;
}
#distribution-section-left-container button{
  color: whitesmoke;
  text-align: left;
  width: fit-content;
  font-size: large;
  font-weight: 400;
  padding: 10px 20px;
  background-color: #c91a17;
  border: none;
  border-radius: 20px;
  transition: all 0.5s;
}
#distribution-section-left-container button:hover{
  background-color: #9e0300;
}
#distribution-section-right-container{
  height: 500px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@keyframes rotate360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#distribution-section-right-container img {
  height: 90%;
  width: auto;
  object-fit: contain;
  animation: rotate360 60s linear infinite; 
}
@media (max-width: 991px) {
  #distribution-section-left-container,#distribution-section-right-container{
    height: 400px;
  }
#distribution-section-right-container img {
    height: auto;
    width: 90%;
  }
  #distribution-section-left-container h2 {
    font-size: 35px;
}
#distribution-section-left-container p {
    font-size: medium;
}
#distribution-section-left-container button {
    font-size: small;
  }
}
@media (max-width: 768px) {
  #distribution-section-left-container,#distribution-section-right-container{
    height: 350px;
  }
#distribution-section-right-container img {
    height: auto;
    width: 80%;
  }
  #distribution-section-left-container h2 {
    font-size: 28px;
}
#distribution-section-left-container p {
    font-size: medium;
}
#distribution-section-left-container button {
    font-size: small;
    padding: 5px 10px;
  }
}
@media (max-width: 600px) {
  #distribution-section-second-container{
    flex-direction: column;
}

  #distribution-section-left-container,#distribution-section-right-container{
    height: 300px;
    width: 95%;
  }
#distribution-section-right-container img {
    height: auto;
    width: 70%;
  }
  #distribution-section-left-container h2 {
    font-size: 28px;
}
#distribution-section-left-container p {
    font-size: medium;
}
#distribution-section-left-container button {
    font-size: small;
    padding: 5px 10px;
  }
}
/* Distribution section */

/* analytics Section  */
#analytics-text-section{
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  gap: 10px;
}
#analytics-text-section h2{
  color: #9e0300;
  font-size: 40px;
  text-align: center;
  width: 100%;
}
#analytics-text-section p{
  color: #000;
  font-size: large;
  text-align: center;
  width: 95%;
  max-width: 1200px;
}
@media (max-width: 991px) {
#analytics-text-section p{
  font-size: medium;
}
}
@media (max-width: 600px) {
#analytics-text-section p{
  font-size: small;
}
#analytics-text-section h2{
  font-size: 35px;
}
}
#analytics-image-container{
  height: fit-content;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#analytics-image-container img{
  height: auto;
  width: 100%;
  max-width: 1200px;
  object-fit: contain;
}
/* analytics Section  */

/* What You Can Do Section */
#what-you-can-do-card-container{
  height: fit-content;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#what-you-can-do-card-second-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; 
  padding: 10px 0;
  margin: 10px auto 0;
  max-width: 1200px;
}

.what-you-can-do-card {
  flex: 1 1 22%; 
  max-width: 22%;
  min-width: 250px; 
  box-sizing: border-box;
  padding: 10px;
  height: 350px;
  box-shadow: 1px 1px 5px #999;
  border-radius: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-direction: column;
}
.what-you-can-do-card img {
  height: 34px;
  width: 35px;
}
.what-you-can-do-card span {
  height: fit-content;
  width: fit-content;
  background-color: #c91a17;
  color: white;
  padding: 5px 10px;
  font-size: small;
  font-weight: 900;
  border-radius: 20px;
}
.what-you-can-do-card h3{
  height: fit-content;
  width: fit-content;
  color: black;
  text-align: left;
  font-weight: 900;
}
.what-you-can-do-card p{
  height: fit-content;
  width: fit-content;
  color: black;
  text-align: left;
  font-weight: 400;
}
@media (max-width: 768px) {
  .what-you-can-do-card {
    flex: 1 1 45%;
    max-width: 45%;
  }
}
@media (max-width: 480px) {
  .what-you-can-do-card {
    flex: 1 1 90%;
    max-width: 90%;
  }
}
/* What You Can Do Section */

/* FAQ */
.faq-section {
  background-color: #fff;
  color: #000;
  max-width: 800px;
  margin: 0px auto;
  padding: 20px;
}
.faq-section h2 {
  text-align: center;
  color: #c91a17;
  margin-bottom: 40px;
  font-size: 2rem;
}
.faq-item {
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
}
.faq-question {
  position: relative;
  background: none;
  border: none;
  width: 100%;
  text-align: left;
  font-size: 1.1rem;
  font-weight: bold;
  padding: 15px;
  cursor: pointer;
  color: #000;
  transition: color 0.3s;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.faq-question:hover {
  color: #c91a17;
}
.faq-question .arrow {
  font-size: 1rem;
  color: #c91a17;
  transition: transform 0.3s ease;
}
.faq-item.active .faq-question .arrow {
  transform: rotate(90deg);
}
.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease, padding 0.3s ease;
  background-color: #f9f9f9;
  padding: 0 15px;
}
.faq-answer p {
  margin: 15px 0;
  color: #333;
}
.faq-item.active .faq-answer {
  max-height: 200px;
  padding: 15px;
}
/* FAQ */

/* Footer */
footer {
  height: fit-content;
  width: 100%;
  display: flex;
  padding-top: 10px;
  justify-content: center;
  background-color: #000;
  align-items: center;
}
#footer-inner-container {
  height: 100%;
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#footer-left {
  height: 100%;
  width: 250px;
  display: flex;
  gap: 30px;
  justify-content: left;
  padding-left: 20px;
  flex-direction: column;
}
#footer-left img {
  height: 100px;
  width: auto;
  object-fit: contain;
}
#footer-left p {
  font-size: small;
  color: white;
  text-align: left;
  width: 100%;
}
#social-icon-container {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: left;
  gap: 05px;
}
#social-icon-container a {
  height: 30px;
  width: 30px;
  background-color: #c91a17;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  transition: all 0.3s;
  align-items: center;
}
#social-icon-container a:hover {
  background-color: #fff;
}
#social-icon-container a img {
  height: 60%;
  width: auto;
  object-fit: contain;
}
#footer-mid {
  height: 100%;
  width: 200px;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  flex-direction: column;
}
#footer-mid h6 {
  font-size: 20px;
  color: #c91a17;
  width: 100%;
  font-weight: 600;
  text-align: left;
}
#footer-mid ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  list-style: none;
}
#footer-mid ul a {
  width: 100%;
  font-weight: 600;
  text-align: left;
  font-size: medium;
  cursor: pointer;
  color: white;
  text-decoration: none;
}

#footer-mid ul a:hover {
  color: #c91a17;
}
#footer-right {
  height: 100%;
  width: 300px;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  flex-direction: column;
}
#footer-right h6 {
  font-size: 20px;
  color: #c91a17;
  width: 100%;
  text-align: left;
  font-weight: 600;
}
#footer-right p {
  font-size: medium;
  color: white;
  height: 40px;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 10px;
  width: 100%;
  text-align: left;
}
#footer-right p img{
  height: 30px;
  width: auto;
  object-fit: contain;
}
#footer-right p span {
  color: #fff;
}
#footer-right p span:hover{
  color: #c91a17;
}
@media (max-width: 768px) {
  footer {
    height: fit-content;
    padding-bottom: 10px;
  }
  #footer-inner-container {
    flex-direction: column;
    gap: 20px;
  }
  #footer-left {
    height: fit-content;
    width: 100%;
    gap: 15px;
    flex-direction: column;
  }
  #social-icon-container {
    height: 40px;
    justify-content: center;
  }
  #footer-mid {
    height: fit-content;
    width: 100%;
    gap: 15px;
  }
  #footer-right {
    height: fit-content;
    width: 100%;
    gap: 15px;
  }
}

/* Whatsapp Popup */
#whatsapp-popup-main-container {
  height: fit-content;
  width: 250px;
  position: fixed;
  padding: 10px;
  bottom: 10px;
  left: 10px;
  background-color: rgb(255, 255, 255);
  display: none;
  flex-direction: column;
  box-shadow: 1px 1px 5px black;
  border-radius: 10px;
  justify-content: center;
  z-index: 99999;
  align-items: center;
}
#whatsapp-popup-main-container span {
  position: absolute;
  top: 0px;
  right: 10px;
  cursor: pointer;
  font-weight: 900;
  color: #121216;
}
#whatsapp-popup-main-container span:hover {
  color: #9e0300;
}
#whatsapp-icon-container {
  height: 45px;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
#whatsapp-icon-container img {
  height: 30px;
  width: auto;
}
#whatsapp-icon-container a {
  color: #c91a17;
  font-size: medium;
  font-weight: 600;
  text-decoration: none;
}
#whatsapp-icon-container a:hover {
  text-decoration: underline;
}
#whatsapp-popup-main-container p {
  color: #333;
  font-size: small;
  font-weight: 400;
  width: 90%;
  text-align: center;
}
@media (max-width: 600px) {
  #whatsapp-popup-main-container {
    padding: 5px;
    width: 200px;
  }
  #whatsapp-popup-main-container p {
    font-size: x-small;
    margin: 0;
  }
  #whatsapp-icon-container img {
    height: 20px;
  }
  #whatsapp-icon-container a {
    color: #c91a17;
    font-size: small;
  }
  #whatsapp-icon-container {
    height: 30px;
  }
}

/* Whatsapp */
.whatsapp-widget {
  position: fixed;
  bottom: 20px;
  right: 10px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.whatsapp-icon {
  color: white;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}
.whatsapp-icon:hover {
  transform: scale(1.1) rotate(-5deg);
}

#icon-text img {
  height: 60px;
  width: 90px;
  animation: brightenScale 3s ease-in-out infinite;
  transition: filter 0.3s ease, transform 0.3s ease;
  animation-play-state: running;
}

#icon-text img:hover {
  animation-play-state: paused;    
  filter: brightness(1.3);
  transform: scale(1.1);
}


@keyframes brightenScale {
  0%, 100% {
    filter: brightness(1);
    transform: scale(1);
  }
  50% {
    filter: brightness(1.3);
    transform: scale(1.1);
  }
}

@media (min-width: 2000px) {
  #icon-text img {
    height: 100px;
    width: auto;
  }
}
@media (max-width: 480px) {
  .whatsapp-icon {
    padding: 0px;
    font-size: 26px;
  }
  .whatsapp-popup {
    width: 250px;
  }
  .whatsapp-widget {
    bottom: 20px;
    right: 0px;
  }
  #icon-text img {
    height: 50px;
    width: 80px;
  }
  #backtotop-main-container {
    bottom: 80px;
    right: 20px;
  }
}

#whatsapp-a img {
  height: 100%;
  width: 30%;
}

/* <!-- Back To Top --> */

#backtotop-main-container {
  position: fixed;
  bottom: 100px;
  right: 40px;
  display: none;
  z-index: 1000;
}
#back-to-top-btn {
  background-color: #fff;
  color: #c91a17;
  border: 2px solid #c91a17;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  font-size: 15px;
  cursor: pointer;
  display: flex;
  font-weight: 900;
  transition: all 1s;
  justify-content: center;
  align-items: center;
}
#back-to-top-btn:hover {
  background-color: #fff;
}
@media (min-width: 1800px) {
  #backtotop-main-container {
    bottom: 120px;
  }
  #back-to-top-btn {
    height: 40px;
    width: 40px;
    font-size: 20px;
  }
}
@media (min-width: 3000px) {
  #backtotop-main-container {
    bottom: 120px;
  }
  #back-to-top-btn {
    height: 50px;
    width: 50px;
    font-size: 25px;
  }
}
/* <!-- Back To Top --> */
